.filter {
    &__title {
        color: #fff;
        font-size: 16px;
        padding-right: 20px;
        position: relative;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            right: 0;
            top: 0;
            background-image: url("../images/icons/angle-up.png");
        }

        &--active::after {
            background-image: url("../images/icons/angle-down.png");
        }
    }

    &__item {
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__form {
        margin-top: 30px;
    }

    &__btn {
        display: none;
    }
}

@media (max-width: 1200px) {
    .filter {
        &__btn {
            display: block;
            background-color: #c80000;
            padding: 6px 15px;
            border-radius: 4px;
            color: #fff;
            margin: 0 auto;
        }
    }
}