.product-card {
    display: inline-block;
    width: 300px;
    position: relative;

    &__img {
        max-width: 280px;
    }

    &__content {
        height: 410px;
        background-color: #272727;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__tocart-icon--bag {
        width: 0;
        transition: all 0.3s;
    }

    &__tocart {
        position: absolute;
        top: 18px;
        right: 13px;
        width: 37px;
        height: 37px;
        background-color: transparent;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

        &:hover {
            width: 72px;
            border-radius: 18px;
            background-color: $active;

            .product-card__tocart-icon--bag {
                width: 24px;
            }
        }

        &:focus {
            background-color: $active;
        }
    }

    &__info {
        margin-top: 10px;
    }

    &__tocart-icon {
        fill: #fff;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__price {
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
        opacity: 0.5;
        margin-right: 30px;
    }

    &__new {
        display: none;
        color: #ff3232;
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
    }

    &--new {
        .product-card__new {
            display: inline-block;
        }
    }

    &--compact {
        .product-card__info {
            position: absolute;
            max-width: 163px;
            top: 18px;
            left: 30px;
        }

        .product-card__name {
            -webkit-line-clamp: 2;
        }
    }
}