.subcategory-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 131px;
    height: 70px;
    border-radius: 15px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }
}